@media only screen and (max-width: 767px){
    .container{
        padding: 35px 15px !important;
    }
.row-1 .col-2 {
        display: flex;
    align-content: center;
    align-items: center;
    padding-right: 35px !important;
    padding-left: 40px !important;
    width: 100% !important;
    height: 250px !important;
}
.row-1 .col-1 {
    width: 100% !important;
    position: relative;
    height: 400px;
}
.col-1 img {
    max-width: 250px !important;
    max-height: 250px !important;
    
    left: calc(50% - 125px);
    top: calc(50% - 120px);
    
}
h1 {
    font-size: 12vw !Important;
    
    line-height: 1.3 !important;
}
    

.text-media {
        background-size: 580px !important;
          background-position: 43% 20% !important;
    width: 100% !important;
    background-repeat: repeat !important;
}
.pods-container {
    max-width: 1280px !important;
    padding: 40px 15px !important;
    margin: 0 auto;
    display: flex;
    gap: 15px !important;
    flex-direction: column !important;
}
.pods1, .pods2, .pods3{
    height: 290px !important;
    width: 100% !important;
}
.road {
      height: 300px !important;
  
}
.movingCar {
    width: 200px !important;
}

.movingCar img {
    width: 210px !important;
}
.movingCar::before {
    
    width: 20px !important;
    height: 20px !important;
    left: 143px !important;
    bottom: 23px !important;
    }
    .movingCar::after {
   
    width: 18px !important;
    height: 18px !important;
    right: 125px !important;
    bottom: 23px !important;
 }
.traffic-poll {
    
    width: 120px !important;
    height: 220px;
    position: absolute;
    right: 10px;
    bottom: -8px;
  
}#click{
display: block;
}

}
